<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/css/style.css" rel="stylesheet">
        <script src="~/js/anime.min.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="status">
                <span id="fullness">Fullness: @ViewBag.GameState.Fullness</span>
                <span id="happiness">Happiness: @ViewBag.GameState.Happiness</span>
                <span id="meals">Meals: @ViewBag.GameState.Meals</span>
                <span id="energy">Energy: @ViewBag.GameState.Energy</span>
            </div>
            <div id="info">
                <p>@ViewBag.Reaction</p>
                <img src="~/images/@(ViewBag.GameState.Level).jpg">
                <p>@ViewBag.Message</p>
            </div>
            <nav>
                @{
                    if(ViewBag.GameStatus == "running")
                    {
                        if(ViewBag.GameState.Meals > 0) {
                            <div class="bar-display">
                                <form action="/performAction" method="post">
                                    <input type="hidden" value="feed" name="action">
                                    <button type="submit">Feed</button>
                                </form>
                            </div>
                        }
                        <div class="bar-display">
                            <form action="/performAction" method="post">
                                <input type="hidden" value="play" name="action">
                                <button type="submit">Play</button>
                            </form>
                        </div>

                        if(ViewBag.GameState.Energy >= 5) {
                            <div class="bar-display">
                                <form action="/performAction" method="post">
                                    <input type="hidden" value="work" name="action">
                                    <button type="submit">Work</button>
                                </form>
                            </div>
                        }
                        <div class="bar-display">
                            <form action="/performAction" method="post">
                                <input type="hidden" value="sleep" name="action">
                                <button type="submit">Sleep</button>
                            </form>
                        </div>
                    }
                    else if(ViewBag.GameStatus == "over")
                    {
                        <div class="center-text">
                            <a href="/reset" method="post"><button>Play Again?</button></a>
                        </div>
                    }
                }
            </nav>
        </div>
        <script>
            var levelup = anime({
                targets: 'img',
                scale: 2,
                rotate: '1turn',
                duration: 1000,
                direction: 'alternate',
                loop: 1, // Play the animation 3 times
                autoplay: false // Animation paused by default
            });
        </script>
        @{
                if(@ViewBag.Message == "!!LEVEL UP!!"){
                    <script>
                        levelup.play();
                    </script>
                }
            }
    </body>
</html>